<div>
  <div class="row placeholders">
    <div class="col-lg-1 col-xs-2 col-sm-3 placeholder">
      <span translate="company.select"></span>
    </div>
    <div class="col-lg-4 col-xs-5 col-sm-6 placeholder">
      <select class="form-control" [(ngModel)]="selectedComp" (ngModelChange)="selectedCompChange()" >
        <option *ngFor="let company of companyList" [value]="company.value">{{company.label}}
      </select>
    </div>
  </div>
</div>
<div>
  <div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <h3><span translate="employee.list"></span></h3>
    </div>
  </div>
  <div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <nz-table>
        <thead nz-thead>
          <tr>
            <th nz-th><span translate="employee.id"></span></th>
            <th nz-th><span translate="employee.surName"></span></th>
            <th nz-th><span translate="employee.givenName"></span></th>
            <th nz-th><span translate="employee.gender"></span></th>
            <th nz-th><span translate="employee.birthday"></span></th>
            <th nz-th><span translate="employee.workEmail"></span></th>
            <th nz-th><span translate="employee.status"></span></th>
            <th nz-th><span translate="employee.action"></span></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let employeeBean of employeeList" >
            <td nz-td>{{employeeBean.employeeId}}</td>
            <td nz-td>{{employeeBean.surName}}</td>
            <td nz-td>{{employeeBean.givenName}}</td>
            <td nz-td>{{employeeBean.gender}}</td>
            <td nz-td>{{employeeBean.birthday}}</td>
            <td nz-td>{{employeeBean.workEmail}}</td>
            <td nz-td>{{employeeBean.status}}</td>
            <td nz-td>
              <button class="btn btn-danger" (click)="deleteEmployee(employeeBean.empId)">
                <span translate="employee.delete"></span>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <button type="button" class="btn btn-primary pull-right" (click)="showAddNew()" >
                <span translate="employee.addNew"></span>
              </button>
            </td>
          </tr>
        </tfoot>
      </nz-table>
    </div>
  </div>
</div>
