<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="24">
      <nz-card>
          <ng-template #title>{{ 'employee.addNew' | translate }}</ng-template>
          <ng-template #body>
              <form nz-form>
                  <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                          <label for="inputEmployeeId" nz-form-item-required>{{ 'employee.id' | translate }}</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                          <nz-input [(ngModel)]="newEmployee.employeeId" [nzId]="'inputEmployeeId'" name="inputEmployeeId" [nzPlaceHolder]="'E0001'" maxlength="50" required >
                          </nz-input>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputSurName" nz-form-item-required>{{ 'employee.surName' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [(ngModel)]="newEmployee.surName" [nzId]="'inputSurName'" name="inputSurName" [nzPlaceHolder]="'SurName'" maxlength="100" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputGivenName" nz-form-item-required>{{ 'employee.givenName' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [(ngModel)]="newEmployee.givenName" [nzId]="'inputGivenName'" name="inputGivenName" [nzPlaceHolder]="'Given Name'" maxlength="100" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputGender" nz-form-item-required>{{ 'employee.gender' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                      <nz-radio-group [(ngModel)]="newEmployee.gender" name="inputGender" >
                        <label nz-radio [nzValue]="'0'">
                            <span>{{ 'gender.male' | translate }}</span>
                        </label>
                        <label nz-radio [nzValue]="'1'">
                            <span>{{ 'gender.female' | translate }}</span>
                        </label>
                      </nz-radio-group>
                    </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputBirthday" nz-form-item-required>{{ 'employee.birthday' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                      <nz-datepicker [(ngModel)]="newEmployee.birthday" id="inputBirthday" name="inputBirthday" [nzPlaceHolder]="'YYYY/MM/DD'" [nzFormat]="'YYYY/MM/DD'">
                      </nz-datepicker>
                    </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputWorkEmail" nz-form-item-required>{{ 'employee.workEmail' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [(ngModel)]="newEmployee.workEmail" [nzId]="'inputWorkEmail'" name="inputWorkEmail" [nzPlaceHolder]="'xxxx@xxx.xx'" maxlength="100" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row class="mb0">
                      <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="6">
                          <button nz-button [nzType]="'primary'" (click)="addNew()" >{{ 'employee.add' | translate }}</button>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                      <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="6">
                        <span>{{errorMsg}}</span>
                      </div>
                  </div>
              </form>
          </ng-template>
      </nz-card>
  </div>
</div>

