<!-- Login Page-->
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="User name / Email / Phone number"
             maxlength="40" >

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
             maxlength="20">

    <label for="captchaCode" class="sr-only">Captcha Code</label>
    <input type="text" id="captchaCode" class="form-control" placeholder="Captcha Code"
             maxlength="6"  />
    <!-- -->
    <img class="img-thumbnail" id="captchaCodeImg"  src="{{captchaSrc}}" >

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login()" >
      <span translate="sign-up">Sign up</span>
    </button>
  </form>


</div>
<!-- /Login Page -->