<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="24">
      <nz-card>
          <ng-template #title>{{ 'user.addNew' | translate }}</ng-template>
          <ng-template #body>
              <form nz-form>
                  <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                          <label for="inputUserName" nz-form-item-required>{{ 'user.name' | translate }}</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                          <nz-input [(ngModel)]="newUser.userName" [nzId]="'inputUserName'" name="inputUserName" [nzPlaceHolder]="'Swin.Liu'" minlength="4" maxlength="40" required >
                          </nz-input>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputUserPhone" nz-form-item-required>{{ 'user.phone' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [(ngModel)]="newUser.phoneNumber" [nzId]="'inputUserPhone'" name="inputUserPhone" [nzPlaceHolder]="'+86 131 1234 1234'" maxlength="40" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputUserEmail" nz-form-item-required>{{ 'user.email' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [(ngModel)]="newUser.email" [nzId]="'inputUserEmail'" name="inputUserEmail" [nzPlaceHolder]="'xxxxx@xxxx.xx'" maxlength="100" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputUserPassword" nz-form-item-required>{{ 'user.password' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [nzType]="'password'" [(ngModel)]="unEncryptPwd" [nzId]="'inputUserPassword'" 
                           name="inputUserPassword" minlength="6" maxlength="40" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row class="mb0">
                      <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="6">
                          <button nz-button [nzType]="'primary'" (click)="addNew()" >{{ 'user.add' | translate }}</button>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                      <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="6">
                        <span>{{errorMsg}}</span>
                      </div>
                  </div>
              </form>
          </ng-template>
      </nz-card>
  </div>
</div>
