<div>
  <div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <h3>User List</h3>
    </div>
  </div>
  <div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>User Id</td>
            <td>User Name</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Status</td>
            <td>Create Time</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>U001</td>
            <td>Swin Liu</td>
            <td>+86 131 1234 1456</td>
            <td>i@lyplay.com</td>
            <td>Active</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>U002</td>
            <td>Swin Liu</td>
            <td>+86 131 1234 1456</td>
            <td>i@lyplay.com</td>
            <td>Active</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>U003</td>
            <td>Swin Liu</td>
            <td>+86 131 1234 1456</td>
            <td>i@lyplay.com</td>
            <td>Active</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>U004</td>
            <td>Swin Liu</td>
            <td>+86 131 1234 1456</td>
            <td>i@lyplay.com</td>
            <td>Active</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <button type="button" class="btn btn-primary pull-right" routerLink="/user/management/add" >Add New</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
