<div>
  <div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <h3>{{ 'user.addNew' | translate }}</h3>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row placeholders">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputUserName" class="col-sm-2 control-label">{{ 'user.name' | translate }}</label>
        <div class="col-sm-4">
          <input type="text" [(ngModel)]="newUser.userName" class="form-control" id="inputUserName"
            name="inputUserName" #inputUserName=ngModel minlength="4" maxlength="40" required placeholder="Swin.Liu" />
        </div>
        <div class="col-sm-6" *ngIf="inputUserName.invalid && (inputUserName.dirty || inputUserName.touched)" >
          <span [style.color]="inputUserName.valid ? 'black':'red'" >
            <span *ngIf="inputUserName.errors.required">User name is required.</span>
            <span *ngIf="inputUserName.errors.minlength">User name must be at least 4 characters long.</span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputUserPhone" class="col-sm-2 control-label">{{ 'user.phone' | translate }}</label>
        <div class="col-sm-4">
          <input type="text" [(ngModel)]="newUser.phoneNumber" class="form-control" id="inputUserPhone" 
            name="inputUserPhone" placeholder="+86 131 1234 1234" maxlength="40" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputUserEmail" class="col-sm-2 control-label">{{ 'user.email' | translate }}</label>
        <div class="col-sm-4">
          <input type="email" [(ngModel)]="newUser.email" class="form-control" id="inputUserEmail" 
            name="inputUserEmail" #inputUserEmail=ngModel placeholder="i@lyplay.com" maxlength="100" />
        </div>
        <div class="col-sm-6" *ngIf="inputUserEmail.invalid && (inputUserEmail.dirty || inputUserEmail.touched)" >
          <span [style.color]="inputUserEmail.valid ? 'black':'red'" >
            <span *ngIf="inputUserEmail.errors.email">Please input correct email address.</span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputUserPassword" class="col-sm-2 control-label">{{ 'user.password' | translate }}</label>
        <div class="col-sm-4">
          <input type="password" [(ngModel)]="unEncryptPwd" class="form-control" id="inputUserPassword"
            name="inputUserPassword" #inputUserPassword=ngModel placeholder="" minlength="6" maxlength="40" />
        </div>
        <div class="col-sm-6" *ngIf="inputUserPassword.invalid && (inputUserPassword.dirty || inputUserPassword.touched)" >
          <span [style.color]="inputUserPassword.valid ? 'black':'red'" >
            <span *ngIf="inputUserPassword.errors.minlength">Password must be at least 6 characters long.</span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="button" (click)="addNew()" class="btn btn-default">{{ 'user.add' | translate }}</button>
        </div>
        <div class="col-sm-6">
          {{errorMsg}}
        </div>
      </div>
    </form>
  </div>
</div>
