<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="24">
      <nz-card>
          <ng-template #title>{{ 'company.addNew' | translate }}</ng-template>
          <ng-template #body>
              <form nz-form>
                  <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                          <label for="inputCompanyName" nz-form-item-required>{{ 'company.name' | translate }}</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                          <nz-input [(ngModel)]="newCompany.companyName" [nzId]="'inputCompanyName'" name="inputCompanyName" [nzPlaceHolder]="'Company Name'" maxlength="100" required >
                          </nz-input>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="inputCompanyAddress" nz-form-item-required>{{ 'company.address' | translate }}</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-input [(ngModel)]="newCompany.address" [nzId]="'inputCompanyAddress'" name="inputCompanyAddress" [nzPlaceHolder]="'Company address'" maxlength="200" >
                        </nz-input>
                    </div>
                  </div>
                  <div nz-form-item nz-row class="mb0">
                      <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="6">
                          <button nz-button [nzType]="'primary'" (click)="addNew()" >{{ 'company.add' | translate }}</button>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                      <div nz-form-control nz-col [nzSpan]="14" [nzXs]="24" [nzOffset]="6">
                        <span>{{errorMsg}}</span>
                      </div>
                  </div>
              </form>
          </ng-template>
      </nz-card>
  </div>
</div>
