<div>
  <div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <h3>{{ 'company.addNew' | translate }}</h3>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row placeholders">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputCompanyName" class="col-sm-2 control-label">{{ 'company.name' | translate }}</label>
        <div class="col-sm-4">
          <input type="text" [(ngModel)]="newCompany.companyName" class="form-control" id="inputCompanyName"
            name="inputCompanyName" #inputCompanyName=ngModel maxlength="100" required placeholder="Company Name" />
        </div>
        <div class="col-sm-6" *ngIf="inputCompanyName.invalid && (inputCompanyName.dirty || inputCompanyName.touched)" >
          <span [style.color]="inputCompanyName.valid ? 'black':'red'" >
            <span *ngIf="inputCompanyName.errors.required">Company name is required.</span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputCompanyAddress" class="col-sm-2 control-label">{{ 'company.address' | translate }}</label>
        <div class="col-sm-4">
          <input type="text" [(ngModel)]="newCompany.address" class="form-control" id="inputCompanyAddress" 
            name="inputCompanyAddress" placeholder="Company address" maxlength="200" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="button" (click)="addNew()" class="btn btn-default">{{ 'company.add' | translate }}</button>
        </div>
        <div class="col-sm-6">
          {{errorMsg}}
        </div>
      </div>
    </form>
  </div>
</div>
