<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{{title}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a routerLink="/dashboard" routerLinkActive="active">
            <span translate="dashboard">Dashboard</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Hi, {{loginUserName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li >
              <a routerLink="/userProfile" routerLinkActive="active" >
                <span translate="profile">Profile</span>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li ><a (click)="logout()" ><span translate="sign-out">logout</span></a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>