<!-- Login Page-->
<div class="col-lg-4 col-lg-offset-4">

<div class="">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" [(ngModel)]="loginParam.userName" name="inputEmail" id="inputEmail" class="form-control" placeholder="User name / Email / Phone number"
             maxlength="40" >

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" [(ngModel)]="unEncryptPwd" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password"
             maxlength="20">

    <label for="captchaCode" class="sr-only">Captcha Code</label>
    <input type="text" [(ngModel)]="loginParam.captchaCode" name="captchaCode" id="captchaCode" class="form-control" placeholder="Captcha Code"
             maxlength="6"  />
    <!-- -->
    <img class="img-thumbnail" id="captchaCodeImg"  src="{{captchaSrc}}" (click)="refreshCaptcha()" >
    <div><label>{{loginMsg}}</label></div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login()" >
      <span translate="sign-in">Sign in</span>
    </button>
  </form>

  <div class="row">
    <div class="col-lg-12">
      <span>其它帐号登录：</span>
      <a href="https://graph.qq.com/oauth2.0/authorize?response_type=token&client_id=1105878186&redirect_uri=localhost:8443/sflow/#/qqlogin&scope=get_user_info">
        <img id="qqLoginImg" src="./assets/images/oauth/QQ.png" />
      </a>
      <a href="http://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=VqP1XlSIge7Wh68eZ63vYOPc&redirect_uri=https://localhost:8443/sflow/#/qqlogin">
        <img id="qqLoginImg" src="./assets/images/oauth/baidu_16.png" />
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <a href="/forget" class="pull-left">Forgot your password?</a>
    </div>
    <div class="col-lg-6">
      <a  routerLink="/signup" class="pull-right">Create new account</a>
    </div>
  </div>

</div>

</div>
<!-- /Login Page -->