<!-- Login Page-->
<div class="col-lg-4 col-lg-offset-4">

<div class="">

  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputAccount" class="sr-only">Email address</label>
    <input type="text" [(ngModel)]="loginParam.userName" name="inputAccount" id="inputAccount" class="form-control" placeholder="User name / Email / Phone number"
      #inputAccount=ngModel required maxlength="40" >

    <div [hidden]="inputAccount.valid || inputAccount.pristine" >
        <span [style.color]="'red'" >Login account is required</span>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" [(ngModel)]="unEncryptPwd" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password"
      #inputPassword=ngModel required maxlength="20">

    <div [hidden]="inputPassword.valid || inputPassword.pristine" >
        <span [style.color]="'red'" >Password is required</span>
    </div>

    <label for="inputCaptchaCode" class="sr-only">Captcha Code</label>
    <input type="text" [(ngModel)]="loginParam.captchaCode" name="inputCaptchaCode" id="inputCaptchaCode" class="form-control" placeholder="Captcha Code"
      #inputCaptchaCode=ngModel required maxlength="6"  />
    
    <div [hidden]="inputCaptchaCode.valid || inputCaptchaCode.pristine" >
        <span [style.color]="'red'" >Captcha code is required</span>
    </div>
      
    <!-- -->
    <img class="img-thumbnail" id="captchaCodeImg"  src="{{captchaSrc}}" (click)="refreshCaptcha()" >
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <div><label [style.color]="'red'" >{{loginMsg}}</label></div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid" >
      <span translate="sign-in">Sign in</span>
    </button>
  </form>

  <div class="row">
    <div class="col-lg-12">
      <span>其它帐号登录：</span>
      <a href="https://graph.qq.com/oauth2.0/authorize?response_type=token&client_id=1105878186&redirect_uri=localhost:8443/sflow/#/qqlogin&scope=get_user_info">
        <img id="qqLoginImg" src="./assets/images/oauth/QQ.png" />
      </a>
      <a href="http://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=VqP1XlSIge7Wh68eZ63vYOPc&redirect_uri=https://localhost:8443/sflow/#/qqlogin">
        <img id="qqLoginImg" src="./assets/images/oauth/baidu_16.png" />
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <a href="/forget" class="pull-left">Forgot your password?</a>
    </div>
    <div class="col-lg-6">
      <a  routerLink="/signup" class="pull-right">Create new account</a>
    </div>
  </div>

</div>

</div>
<!-- /Login Page -->