
<ul class="nav nav-sidebar">
  <li>
      <a routerLink="/dashboard" routerLinkActive="active" >
        <span translate="dashboard">Dashboard</span>
      </a>
  </li>
  <li>
    <a routerLink="/user/profile" routerLinkActive="active" >
      <span translate="profile">User Profile</span>
    </a>
  </li>
  <li>
    <a routerLink="/user/management" routerLinkActive="active" >
      <span translate="user-management">User Management</span>
    </a>
  </li>
  <li>
    <a routerLink="/company/management" routerLinkActive="active" >
      <span translate="company-management">Company Management</span>
    </a>
  </li>
  <li>
    <a routerLink="/employee/management" routerLinkActive="active" >
      <span translate="employee-management">Employee Management</span>
    </a>
  </li>
</ul>

