
<ul class="nav nav-sidebar">
  <li>
      <a routerLink="/dashboard" routerLinkActive="active" >
        <span translate="dashboard">Dashboard</span>
      </a>
  </li>
  <li>
    <a routerLink="/userProfile" routerLinkActive="active" >
      <span translate="profile">User Profile</span>
    </a>
  </li>
  <li>
    <a href="#" >
      <span>User Manager</span>
    </a>
  </li>
  <li>
    <a href="#" >
      <span>Employee Manager</span>
    </a>
  </li>
  <li>
    <a href="#" >
      <span>Company Manager</span>
    </a>
  </li>
</ul>

